.headerContainer {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(9, 57, 91);
}

.switchButtonContainer {
  height: 40px;
  width: 60px;
  border-radius: 20px;
  background-color: rgb(77, 74, 74);
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 300ms ease-in-out;
}

.circle {
  background-color: white;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  transition: transform 300ms ease-in-out;
}

.switchon {
  background-color: rgb(63, 134, 72);
}

.switchon .circle{
  transform: translateX(20px);
}
