.addButton {
  padding: 15px;
  cursor: pointer;
  background-color: var(--heading-color);
  font-size: 16px;
  border-radius: 4px;
  border: none;
  color: var(--font-color);
  font-weight: bold;
  width: 280px;
}

.formContainer {
  border: 1px solid var(--font-color);
  padding: 20px;
  min-width: calc(200px + 25vmin);
  min-height: 500px;
}

.createForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 450px;
  margin-top: 30px;
}

.createInput {
  padding: 10px;
  width: 280px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: none;
  background-color: var(--nav-color);
  color: var(--font-color);
  font-weight: bold;
  font-size: 16px;
}

.createInput::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  font-size: 16px;
}

.errors {
  color: rgb(210, 64, 64);
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 280px;
}

.errors::first-letter {
  text-transform: uppercase;
}
