:root {
  --primary-color: #282c34;
  --nav-color: rgb(77, 74, 74);
  --font-color: #fff;
  --bg-color: #000000;
  --heading-color: rgb(9, 57, 91);
  --selected-color: rgba(0, 0, 0, 0.4);
}

[data-theme="light"] {
  --primary-color: #67676a;
  --nav-color: #b4a9a9;
  --font-color: #000000;
  --bg-color: #fff;
  --heading-color: #ffffff;
  --selected-color: rgba(255, 255, 255, 0.4);
}

.App-header {
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: calc(10px + 2vmin); */
  color: var(--font-color);
}

.App-link {
  color: #61dafb;
}

.width100Per {
  width: 100%;
}

.height100Per {
  height: 100%;
}

.width100vw {
  width: 100vw;
}

.displayFlex {
  display: flex;
}

.alignItemCenter {
  align-items: center;
}

.justifyContentCenter {
  justify-content: center;
}

.justifyContentSpaceBetween {
  justify-content: space-between;
}

.flexGrow1 {
  flex-grow: 1;
}

.font22 {
  font-size: calc(10px + 1vmin);
}

.font30 {
  font-size: calc(10px + 2vmin);
}

.textCenter {
  text-align: center;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexDirectionColumn {
  flex-direction: column;
}

.alignSelfEnd {
  align-self: flex-end;
}

.marginLeft10 {
  margin-left: 10px;
}

.marginTop10 {
  margin-top: 10px;
}

.padding5 {
  padding: 5px;
}

.cursorPointer {
  cursor: pointer;
}
